{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
   

    <div class="my_grid d-flex flex-row">
      <p class="m-auto"> Item</p> 
      <p class="m-auto"> Item</p> 
      <p class="m-auto"> Item</p> 
      <p class="m-auto"> Item <span class="material-icons custom">
        account_circle
        </span></p> 
      <p class="m-auto"> Item <span class="material-icons custom"> thumb_down_off_alt</span></p> 

    </div>
    
      
  </div>
{% endblock content %}